openapi: 3.0.1
info:
  title: Chimera Solana API
  version: 1.0.0
servers:
- url: https://api.testnet.everclear.org
- url: https://api.everclear.org
tags:
- name: Solana
paths:
  /solana/intents:
    post:
      summary: Create a new intent on Solana
      description: Submits a new intent transaction to the Solana blockchain using the specified parameters and configuration.
      operationId: callNewIntentSolana
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - origin
              - destinations
              - to
              - inputAsset
              - amount
              - callData
              - maxFee
              - user
              properties:
                origin:
                  type: string
                destinations:
                  type: array
                  items:
                    type: string
                  nullable: false
                to:
                  type: string
                from:
                  type: string
                  description: intent creator address
                inputAsset:
                  type: string
                amount:
                  type: string
                  format: bigint
                  description: Token amount, denominated in the asset's decimal units on the origin chain
                callData:
                  type: string
                maxFee:
                  type: string
                  format: bigint
                  description: Maximum fee amount, denominated in the asset's decimal units on the origin chain
                user:
                  type: string
                userTokenAccountPublicKey:
                  type: string
                programVaultAccountPublicKey:
                  type: string
                permit2Params:
                  type: object
                  properties:
                    nonce:
                      type: string
                      format: bigint
                      description: Nonce as a bigint
                    deadline:
                      type: string
                      format: bigint
                      description: Deadline as a bigint
                    signature:
                      type: string
                  required:
                  - nonce
                  - deadline
                  - signature
                order_id:
                  type: string
                  description: Order ID for newOrder requests
      responses:
        '200':
          description: Successfully created intent transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRequest'
        '400':
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Solana
  /solana/create-lookup-table:
    post:
      summary: To create lookup tables for new account + asset
      description: Creating lookup tables for new users to save account space on chain
      operationId: createSolanaLookupTable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - inputAsset
              - user
              - userTokenAccountPublicKey
              - programVaultAccountPublicKey
              properties:
                inputAsset:
                  type: string
                user:
                  type: string
                userTokenAccountPublicKey:
                  type: string
                programVaultAccountPublicKey:
                  type: string
      responses:
        '200':
          description: Succesfull serialise data fetch transaction data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRequest'
        '400':
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Solana
components:
  schemas:
    TransactionRequest:
      type: object
      properties:
        to:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
        nonce:
          type: string
          format: bigint
        gasLimit:
          type: string
          format: bigint
        gasPrice:
          type: string
          format: bigint
        data:
          type: string
          format: byte
        value:
          type: string
          format: bigint
        chainId:
          type: integer
        type:
          type: integer
          nullable: true
        accessList:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
              storageKeys:
                type: array
                items:
                  type: string
          nullable: true
        maxPriorityFeePerGas:
          type: string
          format: bigint
          nullable: true
        maxFeePerGas:
          type: string
          format: bigint
          nullable: true
        customData:
          type: object
          additionalProperties: true
          nullable: true
        ccipReadEnabled:
          type: boolean
          nullable: true
      required:
      - to
      - data
      - chainId
