openapi: 3.0.1
info:
  title: Chimera Configs API
  version: 1.0.0
servers:
- url: https://api.testnet.everclear.org
- url: https://api.everclear.org
tags:
- name: Configs
paths:
  /configs/assets:
    get:
      summary: Get supported assets
      description: Lists assets supported by the protocol, with pagination and optional filtering by type
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: limit
        required: true
        schema:
          type: integer
      - in: query
        name: type
        required: false
        schema:
          type: string
          enum:
          - xERC20
          - other
      responses:
        '200':
          description: Successful retrieval of assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
      tags:
      - Configs
components:
  schemas:
    Asset:
      type: object
      required:
      - local
      - adopted
      - canonical_id
      - canonical_domain
      - domain
      - key
      - id
      - decimal
      - adopted_decimal
      properties:
        local:
          type: string
          maxLength: 66
        adopted:
          type: string
        canonical_id:
          type: string
          maxLength: 66
        canonical_domain:
          type: string
          maxLength: 66
        domain:
          type: string
        key:
          type: string
        id:
          type: string
        decimal:
          type: number
        adopted_decimal:
          type: number
